.footer_links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    div{
        img{
            width: 100px;
            filter: grayscale(100%);
        }
        h1{
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 1px;
        }
        p{
            color: #8e8e8e;
            cursor: pointer;
            i{
                padding-left: 5px;
                font-size: .7rem;
            }
        }
        
    }
    
}